* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.884);
}
#logo-image {
  width: 5em;
}
#header {
  display: flex;
  background: linear-gradient(
    140deg,
    rgb(216, 110, 110),
    rgb(167, 44, 44) 20%,
    rgb(134, 29, 22)
  );
  padding: 11px;
  align-items: center;
}
h1 {
  font-size: 2.5em;
}
form {
  padding: 2em;
  margin: 0 auto;
  width: 70%;
}
#inputs {
  display: flex;
  justify-content: space-between;
}
input {
  margin: 1em 7vw;
  font-size: 1.5vw;
  width: 20vw;
  color: #000;
}
button {
  background: linear-gradient(140deg, rgb(214, 81, 81) 20%, rgb(134, 29, 22));
  margin: 0 3em;
  padding: 0.5em;
  border-radius: 10px;
}

#meme-image,
button {
  font-size: 1.2vw;
  width: 60vw;
}

#image {
  margin: 1em;
  width: 100%;
  position: relative;
  display: inline-block;
}
h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 5vw;
  color: #fff;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}
#top-text {
  top: 0.3em;
}
#bottom-text {
  bottom: 0.5em;
}
